<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Need Help ?</mat-card-title>
      <mat-card-subtitle>Learn how to use this app and share your amazing memories with all your friends!</mat-card-subtitle>

    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>

  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Contact Us !</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content class="icons">
    <button mat-fab color="accent" aria-label="Example icon button with a home icon">
      <mat-icon>phone</mat-icon>
    </button>
    <button mat-fab color="accent" aria-label="Example icon button with a home icon">
      <mat-icon>mail</mat-icon>
    </button>
    <button mat-fab color="accent" aria-label="Example icon button with a home icon">
      <mat-icon>chat_bubble</mat-icon>
    </button>
  </mat-card-content>
</mat-card>

