
<mat-sidenav-container>

  <mat-sidenav #sidenav>
    <app-sidenav (closesidenav)="sidenav.close()"></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-menubar (SideNavToggle)="sidenav.toggle()"></app-menubar>

    <main>
      <div id="postform" style="display: none;" #postform>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Title">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Location</mat-label>
            <input matInput placeholder="Location">
          </mat-form-field>

          <div class="post-btn"><button mat-raised-button color="accent">post!</button></div>
          <div class="close-btn"> <button mat-fab  aria-label="Example icon button with a home icon" (click)="closepost();">
            <mat-icon>close</mat-icon>
          </button></div>

        </form>
      </div>
      <img src="/assets/images/main-image.jpg" alt="" class="main-image">
      <div class="floating-btn">
        <button  mat-fab color="accent" aria-label="Example icon-button with add icon" (click)="showpostform()">
          <mat-icon >add</mat-icon>
        </button>
      </div>
      <router-outlet></router-outlet>
    </main>

  </mat-sidenav-content>
</mat-sidenav-container>

